.menu-bar {
    -fx-background-color: #de0c04 ;
    -fx-background-radius: 8px;
}

.menu-bar .label {
    -fx-font-size: 12.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: #ecc707;
    -fx-font-weight: bold; 
    -fx-cursor: hand;
    -fx-padding: 6.0px;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: black ;
    -fx-background-radius: 8px;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.menu-item {
    -fx-text-fill: #ecc707;
    -fx-background: #F2D43D ;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}
.menu-item .label{
    -fx-font-size: 12.0 pt;
    -fx-text-fill: #de0c04;
    -fx-cursor: hand;
}
.menu-item .label:hover{
    -fx-font-size: 12.0 pt;
    -fx-background: black ;
    -fx-background-radius: 8px;
    -fx-text-fill: #F2D43D;
    -fx-cursor: hand;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color:white ;
    -fx-border-width: 0.2px;
    -fx-border-color: black;
    -fx-background-radius: 8px;
}
.anchor-pane{
    -fx-background-color: #F2B33D;
}
.label{
    -fx-font-size: 22;
    -fx-text-fill: #000000;
    -fx-font-family: "Arial Black";
}
.image-view{
    -fx-cursor: hand;
}
.image-view1{
    -fx-cursor: default;
}
.button{
    -fx-background-radius: 8px;
    -fx-background-color:  #8dad4c;
    -fx-text-fill: #96461f;
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 22;    
}

.button1 {
    -fx-background-color: #de0c04;
    -fx-background-radius: 30 30 30 30;
    -fx-text-fill: #14cf14;
    -fx-font-family: "Arial Black"
}

.button1:hover{ 
    -fx-background-color:  #980704 ;

    
} 

.button1:pressed{ 
    -fx-background-color: #3cba1f;
}
